# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with "go test -c"
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
tmp/

# IDE specific files
.vscode
.idea

# .env file
.env

# Project build
main
*templ.go
tmp/

# Terraform State Files
*.tfstate
*.tfstate.*

# Terraform State Backup Files
*.backup

# Terraform Crash Log Files
crash.log

# Terraform Variable Files
*.tfvars
*.tfvars.json
*.tfplan
tfplan.txt

# .terraform Directory
.terraform/
.terraform.lock.hcl

# Override Files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Plan Output Files
*.tfplan

# Sensitive Data Files
*.pem
*.key
id_rsa
id_rsa.pub

# Local environment files
terraform.tfvars

.env.sh
cli/termflow-cli
termflow-api
cli/termflow

bin/*
